.home{
    text-align: left;
    display: flex;
    .title {
        color: #000;
    }
    .homeContainer {
        flex: 6;
        .widgets{
            display: flex;
            padding: 20px;
            gap: 20px;
        }

    }
 }