.featured{
    flex: 2;
    -webkit-box-shadow: 5px 5px 10px 6px rgba(0,0,0,0.3); 
    box-shadow: 5px 5px 10px 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: gray;
        .title{
            font-size: 18px;
            color: gray;
            font-weight: 500;
            padding-left: 10px;
        }
    }
    .bottom{
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        .featuredChart{
            width: 100px;
            height: 100px;
        }
        .title{
            font-weight: 500;
            color: gray;
            margin: 0;
            
        }
        .amount{
            font-size: 30px;
            margin: 0;
        } 
        .description{
            font-weight: 300;
            font-size: 15px;
            color: gray;
            text-align: center;
            margin: 0;
        }
        .summary{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .item{
                text-align: center;
                .itemtitle{
                    font-size: 15px;
                    color: gray;
                }
                .itemResult{
                    display: flex;
                    align-items: center;
                    margin-top: 10px;
                    font-size: 15px;
                    &.positive{
                        color: green;
                    }
                    &.negative{
                        color: red;
                    }
                }
            }
        }
    }
}